.profile__job {
    margin: 0;
    font-size: 18px;
    line-height: 1.22;
    max-width: 294px;
}

@media (max-width: 767px) {
    .profile__job {
        text-align: center;
        font-size: 14px;
        line-height: 1.36;
    }
}